body {
    font-family: Calibri, "Segoe UI", Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 800px;
<<<<<<< HEAD
    text-align: center;
}
=======
    text
}

.clickable {
 cursor:hand;
}
>>>>>>> Adam_Krawchuk_feature2
